
* {
	/*-fx-border-color: white;*/
}

#hud {
	/*visibility: hidden;*/
}

#compteur {
	-fx-background-color: #00000088;
}

#grille {
	-fx-background-color: darkgray;
}

#tilemap {
	-fx-background-color: white;
}

/*
 * Variables
 */
.root {
	/*
	 * Couleurs flat
	 */
	-fx-turquoise1: #1abc9c;
	-fx-turquoise2: #16a085;
	-fx-vert1: #2ecc71;
	-fx-vert2: #27ae60;
	-fx-bleu1: #3498db;
	-fx-bleu2: #2980b9;
	-fx-violet1: #9b59b6;
	-fx-violet2: #8e44ad;
	-fx-noir1: #34495e;
	-fx-noir2: #2c3e50;
	-fx-jaune1: #f1c40f;
	-fx-jaune2: #f39c12;
	-fx-orange1: #e67e22;
	-fx-orange2: #d35400;
	-fx-rouge1: #e74c3c;
	-fx-rouge2: #c0392b;
	-fx-blanc1: #ecf0f1;
	-fx-blanc2: #bdc3c7;
	-fx-gris1: #95a5a6;
	-fx-gris2: #7f8c8d;

	-fx-vitalite: -fx-rouge1;
	-fx-tempsa1: -fx-jaune1;
	-fx-tempsa2: -fx-jaune2;
	-fx-tempss1: -fx-orange1;
	-fx-vitesse1: -fx-vert1;
	-fx-fatigue1: -fx-violet1;
	-fx-initiative1: -fx-bleu1;
	-fx-niveau1: -fx-gris1;
	-fx-cooldown: -fx-noir1;
	-fx-desc: -fx-blanc1;
	-fx-tsimple: -fx-blanc1;
	-fx-tecran: -fx-turquoise2;
	-fx-ttrou: -fx-noir1;
	-fx-tobstacle: -fx-rouge2;
	-fx-deplacement: -fx-vert1;
	-fx-zoneportee: -fx-bleu1;
	-fx-zoneaction: -fx-rouge1;
	-fx-envoutement: -fx-turquoise2;
	-fx-sortpassif: -fx-turquoise1;
	-fx-sortactif: -fx-bleu1;
	-fx-mort: -fx-noir2;
	-fx-entiteactive: -fx-jaune1;
	-fx-entitepassive: -fx-bleu1;
	-fx-invocation: -fx-violet1;
	-fx-tourglobal: -fx-blanc1;
	-fx-tour: -fx-blanc2;
	
	/*
	 * Chat
	 */
	-fx-chatcbox: transparent;
	-fx-chatcmessage: transparent;

	/*
	 * Couleurs sorts
	 */
	-fx-sort-1: -fx-deplacement;
	-fx-sort1: -fx-rouge1;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

#chatcombat {
	/*-fx-background-color: red;*/
}

.chatcbox {
	-fx-background-color: -fx-chatcbox;
}

.chatcbox .chatchild {
	-fx-padding: 0 0 0 4;
}

.chatcmessage {
	-fx-padding: 2;
}

.chattg.chat0 {
	-fx-background-color: -fx-tourglobal;
}

.chattg.chat1 {
	-fx-background-color: derive(-fx-tourglobal, -10%);
}

.chatt.chat0 {
	-fx-background-color: -fx-tour;
}

.chatt.chat1 {
	-fx-background-color: derive(-fx-tour, -10%);
}

.chatlancersort.chat0 {
	-fx-background-color: -fx-sortactif;
}

.chatlancersort.chat1 {
	-fx-background-color: derive(-fx-sortactif, -10%);
}

.chatlancerdeplacement.chat0 {
	-fx-background-color: -fx-deplacement;
}

.chatlancerdeplacement.chat1 {
	-fx-background-color: derive(-fx-deplacement, -10%);
}

.chatenvoutement {
	-fx-background-color: -fx-envoutement;
}

.chatmort {
	-fx-background-color: -fx-noir2;
}

.chatmort * {
	-fx-text-fill: white;
	-fx-fill: white;
}

.chatannulation * {
	-fx-fill: -fx-rouge2;
	-fx-font-weight: bold;
}

.chatinvocation {
	-fx-background-color: -fx-invocation;
}

.chatsp {
	-fx-background-color: -fx-turquoise1;
}

.chatentite {
	-fx-padding: 0 2 0 2;
	-fx-font-weight: bold;
}

.chatentite.chatactive {
	-fx-border-color: derive(-fx-entiteactive, 50%);
}

.chatentite.chatpassive {
	-fx-border-color: derive(-fx-entitepassive, 50%);
}

.chatsort {
	-fx-padding: 0 2 0 0;
	-fx-border-color: #00000022;
	-fx-background-color: #00000022;
	-fx-text-fill: white;
}

.chattemps {
	-fx-padding: 0 2 0 2;
	-fx-border-color: #00000022;
	-fx-background-color: #00000022;
	-fx-text-fill: white;
}

.jauge *, .tuile .polygon {
	-fx-smooth: false;
}

.jauge-bg {
	-fx-fill: -fx-blanc1;
	-fx-stroke: -fx-blanc1;
}

.jauge-fg {
	-fx-fill: -fx-blanc2;
	-fx-stroke: -fx-blanc2;
}

.jauge_circu_stack .label {
	-fx-text-fill: white;
}

.progress-bar, .progress-indicator > .determinate-indicator > .indicator {
    -fx-background-color:-fx-blanc1;
	-fx-border-color: -fx-blanc2;
}

.progress-indicator .determinate-indicator > .progress {
	-fx-background-color: -fx-blanc2;
}

.progress-indicator > .determinate-indicator > .tick {
	-fx-shape: null;
	-fx-background-color: transparent;
}

.progress-bar .bar { 
    -fx-background-insets: 0;
    -fx-padding: 0;
	-fx-background-radius: 0;
	-fx-background-color: -fx-blanc2;
}

.progress-indicator > .determinate-indicator > .indicator {
    -fx-background-insets: 0;
    -fx-padding: 1px;
}

.progress-bar > .track {
    -fx-background-insets: 0;
    -fx-padding: 0;
	-fx-background-radius: 0;
}

.progress-bar:indeterminate > .bar, .progress-bar > .track {
    -fx-background-color: transparent;
}

.progress-indicator.notext .percentage {
	-fx-fill: null;
}

/*
 * Modules backgrounds
 */

#minimap, #pileA, #divers, #entiteCours, #barreSA, #chat, .rowentite.open {
	-fx-background-color: -fx-blanc1;
	-fx-border-color: -fx-blanc2;
}

#minimap {
	/*-fx-padding: 1px;*/
}

#barreSA {
	-fx-padding: 5;
	-fx-hgap: 5;
	-fx-vgap: 5;
}

#entiteCours {
	-fx-padding: 5;
}

/*
 * Tuiles
 */

.tuile .polygon {
	-fx-opacity: 0.75;
}

.tuile.simple .polygon {
	-fx-fill: -fx-tsimple;
}

.tuile.ecran .polygon {
	-fx-fill: -fx-tecran;
}

.tuile.trou .polygon {
	-fx-fill: -fx-ttrou;
}

.tuile.obstacle .polygon {
	-fx-fill: -fx-tobstacle;
}

.tuile.hover .polygon {
	-fx-opacity: 1;
	-fx-effect: dropshadow(gaussian, white, 10, 0.5, 0, 0);
}

.tuile.deplacement .polygon {
	-fx-opacity: 1;
}

.tuile .deplacementLine {
	-fx-stroke: -fx-deplacement;
	-fx-fill: transparent;
	-fx-stroke-width: 5;
	-fx-stroke-line-cap: round;
	visibility: hidden;
}

.tuile.deplacement .anchor, .tuile.deplacement .deplacementLine, .tuile.zone_portee .cible_sort, .tuile.zone_action .cible_sort {
	visibility: visible;
}

.tuile.zone_portee .polygon {
	-fx-effect: innershadow(gaussian, -fx-zoneportee, 100, 1, 0, 0);
}

.tuile.zone_action .polygon {
	-fx-effect: innershadow(gaussian, -fx-zoneaction, 100, 1, 0, 0);
}

.tuile .anchor {
	-fx-stroke: -fx-deplacement;
	visibility: hidden;
}

.tuile .begin {
	-fx-fill: white;
}

.tuile .end {
	-fx-fill: white;
}

.tuile .cible_sort {
	-fx-fill: -fx-ciblesort;
	-fx-stroke-width: 2;
	visibility: hidden;
}

.fleche_orient {
	-fx-fill: -fx-noir2;
}

.cercle-label {
	-fx-background-radius: 5em; 
}

.bulle {
	-fx-font-size: 14;
}

.bulle-titre {
	-fx-font-size: 18;
	-fx-font-weight: bold;
}

.desc {
	-fx-text-fill: -fx-desc; 
}

#listEntites {
	-fx-background-color: transparent;
	-fx-background: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.cooldown .determinate-indicator > .progress, .cooldown .jauge-fg, .cercle-label.cooldown, .notification.cooldown {
    -fx-background-color: -fx-cooldown;
	-fx-fill: -fx-cooldown;
}

.cooldown .determinate-indicator .indicator {
	-fx-border-color: -fx-cooldown;
}

.bulle .cooldown {
	-fx-background-color: -fx-cooldown;
}

.niveau .determinate-indicator > .progress, .niveau .jauge-fg, .cercle-label.niveau, .notification.niveau {
    -fx-background-color: -fx-niveau1;
	-fx-fill: -fx-niveau1;
}

.niveau .determinate-indicator .indicator {
	-fx-border-color: -fx-niveau1;
}

.bulle .niveau {
	-fx-background-color: -fx-niveau1;
}

.vitalite .determinate-indicator > .progress, .vitalite .jauge-fg, .cercle-label.vitalite, .notification.vitalite, .chataltercarac.vitalite {
    -fx-background-color: -fx-vitalite;
	-fx-fill: -fx-vitalite;
}

.vitalite .determinate-indicator .indicator {
	-fx-border-color: -fx-vitalite;
}

.vitalite .jauge-bg, .vitalite .jauge-fg {
	-fx-stroke: -fx-vitalite;
}

.bulle .vitalite {
	-fx-background-color: -fx-vitalite;
}

.tempsa.label {
	/*-fx-text-fill: -fx-tempsa1;*/
}

.tempsa .determinate-indicator > .progress, .tempsa .jauge-fg, .cercle-label.tempsa, .notification.tempsa, .chataltercarac.tempsa {
    -fx-background-color: -fx-tempsa1;
	-fx-fill: -fx-tempsa1;
}

.tempsa .determinate-indicator .indicator  {
	-fx-border-color: -fx-tempsa1;
}

.tempsa .jauge-bg, .tempsa .jauge-fg {
	-fx-stroke: -fx-tempsa1;
}

.bulle .tempsa {
	-fx-background-color: -fx-tempsa1;
}

.tempss .determinate-indicator > .progress, .tempss .jauge-fg, .cercle-label.tempss, .notification.tempss, .chataltercarac.tempss {
    -fx-background-color: -fx-tempss1;
	-fx-fill: -fx-tempss1;
}

.tempss .determinate-indicator .indicator {
	-fx-border-color: -fx-tempss1;
}

.bulle .tempss {
	-fx-background-color: -fx-tempss1;
}

.vitesse .determinate-indicator > .progress, .vitesse .jauge-fg, .cercle-label.vitesse, .notification.vitesse, .chataltercarac.vitesse {
    -fx-background-color: -fx-vitesse1;
	-fx-fill: -fx-vitesse1;
}

.vitesse .determinate-indicator .indicator {
	-fx-border-color: -fx-vitesse1;
}

.bulle .vitesse {
	-fx-background-color: -fx-vitesse1;
}

.fatigue .determinate-indicator > .progress, .fatigue .jauge-fg, .cercle-label.fatigue, .notification.fatigue, .fatigue.chataltercarac {
    -fx-background-color: -fx-fatigue1;
	-fx-fill: -fx-fatigue1;
}

.fatigue .determinate-indicator .indicator {
	-fx-border-color: -fx-fatigue1;
}

.bulle .fatigue {
	-fx-background-color: -fx-fatigue1;
}

.initiative .determinate-indicator > .progress, .initiative .jauge-fg, .cercle-label.initiative, .notification.initiative, .initiative.chataltercarac {
    -fx-background-color: -fx-initiative1;
	-fx-fill: -fx-initiative1;
}

.initiative .determinate-indicator .indicator {
	-fx-border-color: -fx-initiative1;
}

.bulle .initiative {
	-fx-background-color: -fx-initiative1;
}

.rowentite {
	-fx-effect: dropshadow(gaussian, white, 10, 0.05, 0, 0);
}

.rowentite .vignette {
	-fx-border-width: 2;
}

.rowentite.entitepassive .vignette {
	-fx-border-color: -fx-entitepassive;
}

.rowentite.entiteactive .vignette {
	-fx-border-color: -fx-entiteactive;
}

.rowentite .separator .line {
	-fx-border-width: 1;
	-fx-border-color: -fx-blanc2;
}

.notification {
	-fx-background-color: -fx-gris1;
	-fx-padding: 2;
	-fx-spacing: 2;
	-fx-vpos: center;
	-fx-hpos: right;
}

.notification .label {
	-fx-font-size: 10;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

.notification.envoutement {
	-fx-background-color: -fx-envoutement;
}

.notification.sort_passif {
	-fx-background-color: -fx-sortpassif;
}

.notification.mort {
	-fx-background-color: -fx-mort;
}

.rowentite:disabled {
	-fx-opacity: 0.4;
}

.vignette {
	-fx-background-color: -fx-noir2;
}

.vignette .topEntite {
	-fx-padding: 0 2 0 2;
}

.topEntite .niveau {
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.topEntite .nom {
	-fx-text-fill: white;
}

#hud {
	/*-fx-background-color: blue;*/
}

#barreSA {
	/*-fx-background-color: red;*/
}

#chat {
	/*-fx-background-color: green;*/
}

#minimap {
	/*-fx-background-color: chocolate;*/
}

#pileA {
	/*-fx-background-color: lightcoral;*/
}

#pileA .progress-bar {
	-fx-border-color: -fx-tempsa1;
}

#pileA .progress-bar .bar { 
	-fx-background-color: -fx-tempsa1;
}

.envTours {
	-fx-opacity: 0.9;
	-fx-background-color: -fx-noir1;
	-fx-text-fill: white;
	-fx-padding: 0 2 0 2;
}

.jauge_circu .percentage {
	-fx-fill: null;
}

#barres {
	/*-fx-background-color: aqua;*/
}

#timeline {
	/*-fx-background-color: bisque;*/
}

#divers {
	/*-fx-background-color: bisque;*/
}

#entiteCours {
	/*-fx-background-color: darkgreen;*/
}

.sortBut:selected {
	/*-fx-effect: innershadow(gaussian, white, 20, 0.05, 0, 0);*/
}

/*
 * Hors-combat
 */

#top {
	-fx-background-color: red;
}

#left {
	-fx-background-color: blue;
}

#right {
	-fx-background-color: green;
}

#center {
	-fx-background-color: yellow;
}

#bottom {
	-fx-background-color: purple;
}

#sa {
	-fx-background-color: grey;
}

#sp {
	-fx-background-color: brown;
}

.buttons {
	-fx-background-color: grey;
}

.title {
	-fx-background-color: white;
}

.compte {
	-fx-background-color: aliceblue;
}